html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: url('../img/bg.png');
  background-size: cover;
  margin: 0;
}

.wrapper {
  background: url('../img/rag.png') repeat-x;
  overflow: auto;
}

.header-container {
  margin: 0 10px 0;
  text-align: center;
}

.nav {
  border-top: .5px solid black;
  margin-top: 30px;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin-bottom: 35px;
}

.nav li {
  display: inline;
  border-bottom: .5px solid black;
  padding-bottom: 20px;
  font-size: 12px;
}

.body-container {
  margin: 0 10px 0;
  text-align: center;
}

.people p {
  color: darkred;
  margin: 1em 2em;
  font-size: 12px;
}

span {
  font-size: 16px;
}

.people {
  list-style: none;
  overflow: auto;
  padding-left: 0;
}

.people img {
  width: 95%;
  height: auto;
  border-radius: 7px;
}

.people li {
  float: left;
  width: 50%;
}

.footer {
  clear: both;
  text-align: center;
  margin: 0 10px 0;
}

@media only screen and (min-width: 420px) {

  .people li {
    width: 33%;
    float: left;
  }

}

@media only screen and (max-width: 768px) {
  .people li {
    width: ;
  }
}
