html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: url('../img/bg.png');
  background-size: cover;
  margin: 0;
}

.wrapper {
  background: url('../img/rag.png') repeat-x;
  overflow: auto;
  position: relative;
}

.header-container {
  margin: 2em 1em 0;
  text-align: center;
  overflow: hidden;
  border-top: .5px solid black;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin-bottom: 35px;
}

.nav li {
  color: darkred;
  display: inline-block;
  border-bottom: .5px solid black;
  font-size: 12px;
  margin: 0 .35em 0;
  padding-bottom: 12px;
  width: 30%;
}

.body-container {
  margin: 0 10px 0;
  text-align: center;
}

.people p {
  color: darkred;
  margin: 1em 2em;
  font-size: 12px;
}

span {
  font-size: 16px;
}

.people {
  list-style: none;
  overflow: auto;
  padding-left: 0;
}

.people img {
  width: 95%;
  height: auto;
  border-radius: 7px;
}

.people li {
  float: left;
  width: 50%;
}

#dudes {
  display: none;
}

.footer {
  clear: both;
  text-align: center;
  margin: 0 10px 0;
}

@media only screen and (min-width: 415px) {

  .people li {
    width: 33%;
    float: left;
  }

}

@media only screen and (min-width: 600px) {

  .header-container {
    float: left;
    width: 35%;
    border: none;
    position: relative;
    margin: 0;
  }

  .body-container {
    width: 65%;
    float: right;
    margin: 8em 0 0 0;
    padding: 0 1em;
  }

  .nav li {
    width: 55%;
    padding: 2em 0 2em;
  }
 .nav li:first-of-type {
   border-top: .5px solid black;
 }
  .people li {
    width: 33%;
  }

  .quote {
    font-size: 2em;
  }
}

/*@media only screen and (min-width: 600px) and (max-width: 2500px) {

  #dudes {
    display: inline-block;
    position: relative;
  }

  #logo {
    display: none;
  }

  .header-container:before {
    content: url('../img/logo.png');
    position: relative;
    z-index: 1;
    top: 190px;
  }
}*/

@media only screen and (min-width: 1300px) {

  .people li {
    width: 16%;
  }

  .people {
    text-align: center;
    padding-left: 1em;
  }

  /*.nav {
    float: right;
  }*/

}
